<section id="about--section" class="section target_section">
  <div class="about--section_wrapper section_container">
    <h2 data-num="01" class="section--title backdrop--title animate">About.</h2>
    <div class="about--paragraph animate">
      <span class="paragraph_selected-text p-1 letter-j"
        >unior Full Stack Developer</span
      >
      with deep knowledge and practical experience.
      <br />
      <br />
      Completed
      <span class="paragraph_selected-text"
        >Full Stack development courses at GoIT.</span
      >
      Skilled in
      <span class="paragraph_selected-text"
        >HTML5, CSS3, JavaScript, React, Git, Node.js, and MongoDB.</span
      >
      Possess strong critical thinking,curiosity, and a proactive attitude that
      drive high-qualityresults. Continuously exploring new technologies and
      seekingout engaging professional challenges to grow as a developer.
      <span class="paragraph_selected-text">2 years of experience</span> in
      creating responsive and user -friendly web pages.
      <br />
      <span>
        <br />
        <p>
          - Developed 12+ fully functional projects for my portfolio, including
          a responsive website, a web application, and a personal pet project.
        </p>
        <p>
          - Gained hands-on experience with HTML, CSS, JavaScript, React, Git,
          API, and Node.js (depending on the course content).
        </p>
        <p>
          - Published all projects on GitHub and learned how to work with
          git-flow in a team development environment.
        </p>
        <p>
          - Participated in an Agile team simulation, including sprints and
          daily stand-up meetings.
        </p>
        <p>
          - Earned a certificate of completion and received positive feedback
          from mentors regarding code quality, design, and testing.
        </p>
      </span>
      <br />
      <span class="paragraph_selected-text">Professional Expectations</span>
      <br />
      As a Full Stack Developer, I aim to contribute to a collaborative and
      innovative environment where creativity meets clean, maintainable code.
      I’m looking for a role that allows me to work closely with designers and
      back-end developers to deliver intuitive and accessible user interfaces. I
      value continuous learning and hope to be part of a team that embraces
      modern development practices, encourages knowledge sharing, and fosters
      personal growth. My goal is to help build impactful digital experiences
      while enhancing my own skills in performance optimization, UI/UX design,
      and emerging technologies. I appreciate open communication, agile
      workflows, and constructive feedback that help drive projects forward
      efficiently.

      <br />
      <span
        style="
          display: inline-block;
          width: 100%;
          font-size: 19px;
          font-style: italic;
          color: var(--color-1);
          text-align: right;
        "
        >I can do some great things for you.</span
      >
    </div>
  </div>
</section>
