<section id="about--section" class="section target_section">
  <div class="about--section_wrapper section_container">
    <h2 data-num="01" class="section--title backdrop--title animate">About.</h2>
    <div class="about--paragraph animate">
      <span class="paragraph_selected-text p-1 letter-j"
        >unior JS/React.js/Next.js Developer.</span
      >
      with deep knowledge and practical experience.
      <br />
      <br />
      Completed
      <span class="paragraph_selected-text"
        >Full Stack development courses at GoIT.</span
      >
      Skilled in
      <span class="paragraph_selected-text"
        >HTML5, CSS3, JavaScript, TypeScript, React.js, Next.js, Node.js,
        Express.js, MongoDB, CI\CD, Docker, GitHub.</span
      >
      Possess strong critical thinking,curiosity, and a proactive attitude that
      drive high-qualityresults. Continuously exploring new technologies and
      seekingout engaging professional challenges to grow as a developer.
      <span class="paragraph_selected-text">2 years of experience</span> in
      creating responsive and user -friendly web pages.
      <br />
      <span>
        <br />
        <p>
          - Developed 12+ fully functional projects for my portfolio, including
          a responsive website, a web application, and a personal pet project.
        </p>
        <p>
          - Gained hands-on experience with HTML5, CSS3, JavaScript, TypeScript,
          React.js, Next.js, Node.js, Express.js, MongoDB, CI\CD, Docker, GitHub
          and more.
        </p>
        <p>
          - Published all projects on GitHub and learned how to work with
          git-flow in a team development environment.
        </p>
        <p>
          - Participated in an Agile team simulation, including sprints and
          daily stand-up meetings.
        </p>
        <p>
          - Earned a certificate of completion and received positive feedback
          from mentors regarding code quality, design, and testing.
        </p>
      </span>
      <br />
      <span class="paragraph_selected-text">Professional Expectations</span>
      <br />
      I have hands-on experience building 8+ personal projects using native
      HTML, CSS, JavaScript, as well as modern frameworks like React.js,
      Next.js, and Node.js. During my Full Stack Developer course, I
      successfully completed 4+ additional educational projects, including
      responsive websites, interactive applications, and full-stack solutions.
      Throughout the course, I actively participated in team-based projects,
      taking on the role of team lead where I coordinated development tasks,
      facilitated communication, and ensured code quality across the team. These
      experiences strengthened my leadership, collaboration, and problem-solving
      skills in real-world development scenarios. I have a deep understanding of
      the full development lifecycle—from planning and architecture to
      deployment and optimization. I’m passionate about writing clean, readable
      code and always strive for clarity and maintainability in every project.
      I’m highly motivated, open to new challenges, and constantly learning to
      stay up-to-date with the latest technologies and best practices in web
      development.

      <br />
      <span
        style="
          display: inline-block;
          width: 100%;
          font-size: 16px;
          font-style: italic;
          color: var(--color-1);
          text-align: right;

          margin-top: 15px;
        "
        >I can do some great things for you.</span
      >
    </div>
  </div>
</section>
