<section id="about--section" class="section target_section">
  <div class="about--section_wrapper section_container">
    <h2 data-num="01" class="section--title backdrop--title">About.</h2>
    <p class="about--paragraph">
      <span class="paragraph_selected-text p-1 letter-j"
        >unior Full Stack Developer</span
      >
      with deep knowledge and practical experience.
      <br />
      <br />
      I have the necessary technical skills such as working with
      <span class="paragraph_selected-text"
        >HTML5, CSS3 and JavaScript, developing on React and using GIT
      </span>
      for effective team collaboration. In addition, I have experience in
      <span class="paragraph_selected-text">Node.js</span> development. <br />
      <br />
      My mission in the profession is my critical thinking, curiosity and
      positive attitude towards work which leads to the best results.
      <br />
      <br />I finished
      <a
        style="
          display: inline;
          text-decoration: underline;
          color: var(--color-1);
        "
        href="https://goit.global/ua/courses/fullstack/"
        alt="GoIT courses"
        target="_blank"
        >GoIT courses</a
      >
      and now I know the magic of Full Stack Development. My secret ingredient?
      HTML5/CSS3, JavaScript, React, Redux, Node.js, MongoDB and more. I know
      how to tame responsive design so that it works on any device, and I know
      exactly how to liven up your site with light animations. <br />
      <br />
      My motto: Each project should be better than the previous one! And I`m
      always looking for new challenges and interesting opportunities so that
      your project doesn`t just exist on the Internet, but lives its own unique
      life.
      <br />
      <span
        style="
          display: inline-block;
          width: 100%;
          font-size: 19px;
          font-style: italic;
          color: var(--color-1);
          text-align: right;
        "
        >I can do some great things for you.</span
      >
    </p>
  </div>
</section>
