<section id="contact--section" class="section target_section">
  <div class="contact--section_wrapper section_container">
    <h2 data-num="05" class="section_title backdrop-title">
      Get <span class="section_custom_text">Contact.</span>
    </h2>
    <form>
      <label for="name">
        <input type="text" id="name" name="name" required />
      </label>
      <label for="email">
        <input type="email" id="email" name="email" required />
      </label>
      <label for="message">
        <textarea id="message" name="message" required></textarea>
      </label>
      <button type="submit">Send</button>
    </form>
  </div>
</section>
