<section id="contact--section" class="section target_section">
  <div class="contact--section_wrapper section_container">
    <h2 data-num="05" class="section_title backdrop-title">
      Get <span class="section_custom_text">Contact.</span>
    </h2>
    <div>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, voluptatum
      nihil pariatur perferendis accusantium harum dolor sit? Magni, ullam!
      Recusandae id exercitationem culpa labore repellat minus ipsam adipisci
      ipsa hic! Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Laborum, ducimus, magnam eligendi magni veniam soluta blanditiis officiis
      ipsum corporis iusto sunt illum dignissimos error tempore recusandae aut
      atque saepe asperiores. Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Dicta, voluptatum nihil pariatur perferendis accusantium harum dolor
      sit? Magni, ullam! Recusandae id exercitationem culpa labore repellat
      minus ipsam adipisci ipsa hic! Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Laborum, ducimus, magnam eligendi magni veniam soluta
      blanditiis officiis ipsum corporis iusto sunt illum dignissimos error
      tempore recusandae aut atque saepe asperiores. Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Dicta, voluptatum nihil pariatur perferendis
      accusantium harum dolor sit? Magni, ullam! Recusandae id exercitationem
      culpa labore repellat minus ipsam adipisci ipsa hic! Lorem ipsum dolor sit
      amet consectetur adipisicing elit. Laborum, ducimus, magnam eligendi magni
      veniam soluta blanditiis officiis ipsum corporis iusto sunt illum
      dignissimos error tempore recusandae aut atque saepe asperiores.
    </div>
  </div>
</section>
