<header class="header">
  <div class="header_wrapper container">
    <a href="#" class="header_ico __ico">Harasymiv.</a>
    <button onclick="openModal()" class="header__menu-toggle">
      <span></span>
    </button>
    <nav class="header_navigation">
      <ul class="header_list">
        <li class="header_nav--item">
          <a href="#" class="header_nav_link __link __active-section">Intro</a>
        </li>
        <li class="header_nav--item">
          <a href="#" class="header_nav_link __link">About</a>
        </li>
        <li class="header_nav--item">
          <a href="#" class="header_nav_link __link">Works</a>
        </li>
        <li class="header_nav--item">
          <a href="#footer_section" class="header_nav_link __link">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
