<section id="intro--section">
  <div class="intro--wrapper container">
    <div class="intro--text_content">
      <p class="intro--title_label">Hello</p>
      <h1 class="intro--title">
        I'm Viktor Harasymiv<br />
        <span class="intro--text__quality">a Full Stack Developer.</span>
      </h1>
      <p class="intro--title_label intro--subb--text_title">
        I can do some great things for you
      </p>
      <div class="intro--button_box">
        <a href="#about" class="intro--b-1 __button">More about me</a>
        <a href="#footer" class="intro--b-2 __button __button-white"
          >Get in touch</a
        >
      </div>
    </div>
    <div class="intro--background_image">
      <picture>
        <source />
        <img
          src="/img/intro/my-bgOptim.jpg"
          alt="FrontEnd Developer"
          class="intro--foto"
          width="790px"
        />
      </picture>
    </div>
  </div>
</section>
