<section id="intro--section">
  <div class="intro--wrapper container">
    <div class="intro--text_content">
      <p class="intro--title_label">Hello</p>
      <h1 class="intro--title"></h1>
      <span class="intro--text__quality">a Full Stack Developer.</span>
      <div class="swiper mySwiper" style="margin: 0">
        <div class="swiper-wrapper">
          <div class="swiper-slide" data-swiper-parallax-opacity="0.5">
            <p class="intro--title_label intro--subb--text_title">
              I can do some great things for you
            </p>
          </div>
          <div class="swiper-slide" data-swiper-parallax-opacity="0.5">
            <p class="intro--title_label intro--subb--text_title">
              I am capable of remarkable achievements for you
            </p>
          </div>
          <div class="swiper-slide" data-swiper-parallax-opacity="0.5">
            <p class="intro--title_label intro--subb--text_title">
              I am ready to assist you in incredible endeavors
            </p>
          </div>
        </div>
      </div>
      <div class="intro--button_box">
        <a href="#about--section" class="intro--b-1 __button">More about me</a>
        <a href="#footer_section" class="intro--b-2 __button __button-white"
          >Get in touch</a
        >
      </div>
    </div>
    <div class="intro--background_image">
      <picture>
        <source />
        <img
          src="/img/intro/my-bgOptim.jpg"
          alt="FrontEnd Developer"
          class="intro--foto"
          width="790px"
        />
      </picture>
    </div>
  </div>
</section>
