<div class="header_modal--navigation">
  <nav class="modal_navigation container">
    <ul class="modal_list">
      <li class="header_nav--item">
        <a href="#" class="modal_nav_link __link __active-section">Intro</a>
      </li>
      <li class="header_nav--item">
        <a href="#" class="modal_nav_link __link">About</a>
      </li>
      <li class="header_nav--item">
        <a href="#" class="modal_nav_link __link">Works</a>
      </li>
      <li class="header_nav--item">
        <a href="#" class="modal_nav_link __link">Contact</a>
      </li>
    </ul>
  </nav>
</div>
