<div class="header_modal--navigation">
  <nav class="modal_navigation container">
    <ul class="modal_list">
      <li class="header_nav--item">
        <a
          onclick="openModal()"
          href="#scroll--to_top"
          class="modal_nav_link __link __active-section"
          >Intro</a
        >
      </li>
      <li class="header_nav--item">
        <a
          onclick="openModal()"
          href="#about--section"
          class="modal_nav_link __link"
          >About</a
        >
      </li>
      <li class="header_nav--item">
        <a
          onclick="openModal()"
          href="#portfolio--section"
          class="modal_nav_link __link"
          >Works</a
        >
      </li>
      <li class="header_nav--item">
        <a
          onclick="openModal()"
          href="#contact--section"
          class="modal_nav_link __link"
          >Contact</a
        >
      </li>
    </ul>
  </nav>
</div>
