<div class="header_modal--navigation">
  <nav class="modal_navigation container">
    <ul class="modal_list">
      <li class="modal_nav--item __link __active-section">
        <a onclick="openModal()" href="#intro--section" class="modal_nav_link"
          >Intro</a
        >
      </li>
      <li class="modal_nav--item __link">
        <a onclick="openModal()" href="#about--section" class="modal_nav_link"
          >About</a
        >
      </li>
      <li class="modal_nav--item __link">
        <a onclick="openModal()" href="#wok--section" class="modal_nav_link"
          >Works</a
        >
      </li>
      <li class="modal_nav--item __link">
        <a onclick="openModal()" href="#contact--section" class="modal_nav_link"
          >Contact</a
        >
      </li>
    </ul>
  </nav>
</div>
