<section id="skills--section" class="section">
  <div class="skills--section_wrapper section_container">
    <h2 data-num="02" class="section_title backdrop-title">Skills.</h2>
    <div class="skills--section_box">
      <ul class="skill--section_list">
        <h3 class="skill--list_title">
          <span class="section_custom_text">Hard</span> skills.
        </h3>
      </ul>
      <ul class="skill--section_list">
        <h3 class="skill--list_title">
          <span class="section_custom_text">Soft</span> skills.
        </h3>
      </ul>
    </div>
  </div>
</section>
