<section id="skills--section" class="section target_section">
  <div class="skills--section_wrapper section_container">
    <h2 data-num="02" class="section--title backdrop--title animate">
      Skills.
    </h2>
    <div class="skills--section_box">
      <!-- MOBILE TABS  -->

      <ul class="skill--tabs_list">
        <li data-skill="hard" class="skill--tabs_link mobile_tabs active">
          <h3><span class="section_custom_text">Hard</span> skills.</h3>
        </li>
        <li data-skill="soft" class="skill--tabs_link mobile_tabs">
          <h3><span class="section_custom_text">Soft</span> skills.</h3>
        </li>
        <div class="liner"></div>
      </ul>

      <!-- LAPTOP  -->
      <ul class="skill--section_list active">
        <h3 class="skill--list_title">
          <span class="section_custom_text">Hard</span> skills.
        </h3>
      </ul>
      <ul class="skill--section_list">
        <h3 class="skill--list_title">
          <span class="section_custom_text">Soft</span> skills.
        </h3>
      </ul>
    </div>
  </div>
</section>
