.about--paragraph {
    position: relative;

    font-size: var(--paragraph);

    letter-spacing: .02em;
    line-height: 2.5;

    word-break: break-all;
}

.about--paragraph::before {
    position: absolute;

    content: "";

    width:27px;
    height: 40px;

    top: 2px;
    left: 9px;

    background-image: url(./../img/letter-j.svg);

    background-repeat: no-repeat;
    background-size: contain;
}

.paragraph_selected-text {
    font-size: var(--paragraph_selected);
    letter-spacing: .08em;
    color: var(--color-1);
}

.p-1 {
    margin-left: 35px;
}

@media screen and (max-width:899.98px) {

    .about--paragraph,
    .paragraph_selected-text
     { 
        letter-spacing: .02em;
    }

    .p-1 { 
        margin-left: 30px;
    }

    .about--paragraph::before {
        top: -12.5px;
        left: 4px;
    }
}

@media screen and (min-width:900.98px) and (max-width: 1499.98px) {

    .about--paragraph::before {
        top: -10px;
        left: 9px;
    }
}