.about--paragraph {
  position: relative;

  font-family: var(--font-famili__public);
  font-size: var(--paragraph);

  letter-spacing: 0.05em;
  line-height: 1.7;
}

.paragraph_selected-text {
  color: var(--color-1);
}

.letter-j {
  position: relative;
}

.letter-j::before {
  position: absolute;

  content: '';

  width: 45px;
  height: 65px;

  top: -34px;
  left: -41px;

  background-image: url('../public/icons/letter-j.svg');

  background-repeat: no-repeat;
  background-size: contain;
}

.p-1 {
  margin-left: 45px;
}

@media screen and (max-width: 899.98px) {
  .about--paragraph,
  .paragraph_selected-text {
    letter-spacing: 0.02em;
  }

  .p-1 {
    margin-left: 30px;
  }

  .about--paragraph::before {
    top: -12.5px;
    left: 4px;
  }

  .letter-j::before {
    width: 35px;
    height: 45px;

    top: -30px;
    left: -28px;
  }
}

@media screen and (min-width: 900.98px) and (max-width: 1499.98px) {
  .about--paragraph::before {
    top: -10px;
    left: 9px;
  }
}
