@import url('https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
  position: relative;

  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;

  background-color: var(--color-gray-10);

  font-family: var(--font-famili);
  font-size: var(--base-font-size);
  font-weight: var(--base-font-weight);
  font-weight: var(--base-font-weight);
  line-height: var(--base-line-height);
  font-style: normal;
}

main {
  flex-grow: 1;
}

#about--section,
#skills--section,
#experience--section,
#portfolio--section {
  scroll-margin-top: -80px;
}

.lock-scroll {
  overflow: hidden;
}

/* Link */

.__ico {
  line-height: var(--kick-line-height);
  font-size: var(--ico-font-size);
}

.__link {
  position: relative;

  font-size: var(--base-font-size);
  color: var(--color-gray-14);

  transition: all 0.3s ease-in-out;
}

.__link::after {
  position: absolute;

  content: '';

  left: 0;
  bottom: -0.1rem;

  width: 0%;
  height: 0.01rem;

  background-color: var(--c-white);

  transition: all 0.3s ease-in-out;

  opacity: 0;
}

.__active-section {
  color: var(--c-white);
}

.__link.__active-section::after {
  width: 100%;
  opacity: 1;
}

.__link:hover {
  opacity: 1;
  color: var(--color-gray-8);
}

.__link:hover:after {
  width: 100%;
  opacity: 1;
}

.header_nav--item.__active-section .__link {
  width: 100%;
  opacity: 1;
}

/* Buttons */

.__button {
  width: 219px;
  height: 56px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--color-3-dark);
  border: 2px solid hsla(96, 10%, 10%, 1);

  font-family: var(--font-famili__public);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.3em;
  color: var(--c-white);

  transition: all 0.3s;
}

.__button:hover {
  background-color: var(--color-link);
  border-color: var(--color-link);
}

.__button-white {
  background-color: transparent;
  border: 2px solid hsla(96, 10%, 10%, 1);

  color: var(--color-3-dark);
}

.__button-white:hover {
  background-color: var(--color-3-dark);
  border-color: var(--color-3-dark);

  color: var(--c-white);
}

/* 200/1920*100 ширина з px в rem*/

/*  S E C T I O N  S T Y L E  */

.section {
  padding-top: var(--section--padding-top);
}

.section--title {
  margin-bottom: calc(5.5 * (2rem * 1));
  color: inherit;
  line-height: 1;
}

.section_custom_text {
  font-size: inherit;
  line-height: 1;
  color: var(--color-1);
}

.backdrop--title {
  position: relative;
  z-index: 1;
}

.backdrop--title::after {
  content: attr(data-num);

  font-family: var(--font-famili__public);

  font-weight: 600;
  font-size: 2.8em;
  letter-spacing: -0.05em;
  line-height: 1;

  color: var(--color-gray-18);

  position: absolute;
  top: -0.4em;
  left: -0.08em;
  opacity: 0.1;
}

.footer .section--title {
  color: var(--c-white);
}

.footer .backdrop--title::after {
  font-size: 3.3em;
  color: var(--color-gray-11);
}

@media screen and (max-width: 899.98px) {
  .section {
    padding-top: var(--m-section--padding-top);
  }

  #about--section,
  #skills--section,
  #experience--section,
  #portfolio--section {
    scroll-margin-top: -20px;
  }
}
