/* Styles for Mobile devices */

.container {
  min-width: 320px;
  width: min(92%, 1248px);
  
  margin: 0 auto;
  padding: 0 16px;
}

@media only screen and (min-width: 499.98px) and (max-width:900px) { 
  .container {
    padding: 0 16px;
  }
} 

/* Styles for Desktop devices */
@media only screen and (min-width: 1280px) {
  .container {
    width: 90%;

    padding: 0 32px;

  }
}

.section_container {
  width: min(92%, 1248px);

  margin: 0 auto;
  padding: 0 16px;
}