.footer {
  position: relative;
  
  padding-top: calc(6 * (2.4rem * 1));
  padding-bottom:  calc(2.5 * (2rem * 1));

  background-color: var(--color-3);
}

/* Content */

.backdrop-title {
  position: relative;
  z-index: 1;
}

.backdrop-title::after {
  content: attr(data-num);

  font-family: var(--font-famili__public);

  font-weight: 600;
  font-size: 3.3em;
  letter-spacing: -0.05em;
  line-height: 1;

  color: var(--color-gray-11);

  position: absolute;
  top: -0.4em;
  left: -0.08em;
  opacity: 0.1;
}

.footer--content_box {
  margin-bottom: calc(3.5 * (2rem * 1));

  display: flex;

  font-family: var(--font-famili__public);
  color: var(--c-white);
}

.footer--navigation {
  font-family: var(--font-famili__public);

  display: flex;
}

.footer--navigation_list {
  padding: 0px 30px;
  width: 33.3333%;

  display: flex;
  flex-direction: column;
  
  gap: 4px;
}

.footer--motivation_text {
  padding: 10px 20px 10px 0px;
  width: min(100%, 560px);

  font-family: var(--font-famili__public);
  font-size: calc((1.2rem * .9375) * 1.1);

  opacity: 0.4;
}

.footer--list_title {
  margin-bottom: 15px;

  font-size: 24px;
  text-wrap: nowrap;
  color: var(--c-white);
}

.footer--navigation_item a {
  font-family: var(--font-famili__public);
  text-wrap: nowrap;
  font-size: 19px;
  letter-spacing: 0.04rem;

  opacity: 0.4;

  transition: 0.3s ease-in-out;
}

.footer--navigation_item:hover a {
  opacity: 1;
}

/* Button */

.footer--button_box {
  margin-bottom: calc(3.5 * (2rem * 1));

  width: 100%;

  display: flex;
  gap: 50px;
}

.footer--btn {
  min-height: 72px;
}

.footer--btn a{
  margin:  0;

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: var(----base-font-size-nav);
  font-weight: 500;
}

.footer-b_1 {
  width: 100%;
  background-color: var(--color-link);
  border-color: var(--color-link);
}

.footer-b_1:hover {
 background: var(--color-btn-primary-hover);
 border-color: var(--color-btn-primary-hover);
}

.footer-b_2 {
  width: 100%;

  background-color: transparent;
  border: 2px solid var(--c-white);

  color: var(--c-white);
}

.footer-b_2:hover {
  background-color: var(--c-white);
  border-color: var(--c-white);

  color: var(--black);
}

/* To top button  */


.footer__to-top-box {
  position: absolute;

  bottom: 170px;
  right: -15px;

  display: flex;
  justify-content: center;
  align-items: center;

  transform: rotate(-90deg);
}

.button__to-top {
  margin-right: 20px;
  
  cursor: pointer;
  
  display: flex;
  justify-content: center;
  align-items: center;

  width: 52px;
  height: 52px;

  background-color: transparent;
  
  border: 2px solid var(--c-white);

  border-radius: 50px;
}

.footer__to-top-box>span {
  font-family: var(--font-famili__public);
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  color : var(--color-gray-15);
  letter-spacing: 0.3em;

  transition: 0.3s ease-in-out;
}

.footer__to-top-box:hover span{
  color: var(--c-white);
}

/* copyright */

.footer--copyright_box {
  padding-top: calc(1.25 * (2rem * 1));
  display: flex;
  justify-content: space-between;

  border-top: 1px solid rgba(255, 255, 255, 0.04);
}


.copyright--social_list {
  display: flex;
  gap: 10px;
}

.copyright--subbcontent {
}

.copyright span:nth-child(1)::after {
  content: "|";
  display: inline-block;
  padding: 0 0.8rem 0 1rem;
  color: rgba(255, 255, 255, 0.04);
}

.copyright span {
  font-family: var(--font-famili__public);
  color: var(--color-gray-15);
}

.developer_title a{
  display: inline-block;

  font-family: var(--font-famili__public);
  color: var(--c-white);

  transition: all 0.3s ease-in-out;
}

.developer_title a:hover,
.developer_title a:focus {
  color: var(--color-link);
}


.social--media_ico {
  fill: var(--color-gray-15);

  width: 28px;
  height: 28px;

  transition: all 0.3s ease-in;
}

.social--media_ico:hover,
.social--media_ico:focus {
  fill: var(--c-white);
}

.telegram_ico {
  width: 26px;
  height: 26px;
}



/* Responsive */ 

@media screen and (max-width: 1200px) {
  .footer--copyright_box {
    flex-wrap: wrap;
    row-gap: 15px;
  }
  .copyright--subbcontent {
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {

  .section_title { 
    margin-bottom: 100px;
  }

  .footer--content_box {
   flex-wrap: wrap;
  }
  
  .footer--motivation_text {
    margin-bottom: 40px;

    width: 100%;
  }

  .footer--navigation {
    width: 100%;

    flex-wrap: wrap;
  }

  .footer--navigation_list {
    padding: 0;

    flex: 0 0 auto;
    width: 50%;
  }
}

@media screen and (max-width: 800px) {
  
  .footer--navigation {
    row-gap: 30px;
  }
  .footer--navigation_list {
    width: 100%;
  }

  .footer--button_box {
    flex-wrap: wrap;
    row-gap: 17px;
  }

  .developer_title {
    display: block;
  }

  .copyright span:nth-child(1)::after {
    display: none;
  }
}