.header {
  width: 100%;
  position: absolute;
}

.header_wrapper {
  height: 80px;
  
  display: flex;
  flex-shrink: 1;
  align-items: center;
  justify-content: space-between;
  
  background-color: var(--color-3);
  color: var(--c-white);
}

.header_navigation {
  display: none;
}

.header_list {
  padding-right: 15px;

  display: flex;
  align-items: center;

  gap: 30px;
}

@media only screen and (min-width: 900.98px) { 
  .header {
    height: 72px;
  
    top: 25px;
    right: 50%;
  
    transform: translateX(50%);
  }

  .header_navigation { 
    display: block;

    display: flex;
    flex-direction: row;
    justify-content: end;
    flex-shrink: 1;
  }
}