.header {
  z-index: 9998;

  position: absolute;

  width: 100%;
}

.header_wrapper {
  height: 100%;

  background-color: var(--color-3);
  color: var(--c-white);
}

.header_content {
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_list {
  padding-right: 15px;

  display: flex;
  align-items: center;

  gap: 30px;
}

/*  Sticky header  */

.header.offset {
  transform: translateY(-100%);

  transition-property: transform;
  transition-duration: 0.5s;
}

.header.scrolling {
  transform: translateY(0);
}

.header.sticky {
  opacity: 0;
  visibility: hidden;
  background-color: var(--color-3);
  box-shadow: var(--box-shadow-6);
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.03);

  position: fixed;

  top: 0;
  right: 0;
}

.header.sticky.scrolling {
  opacity: 1;
  visibility: visible;
}

.header.sticky.scrolling .container {
  max-width: 1248px;
}

.works_item {
  position: relative;
}

.works--sub_nav-overlay {
  z-index: -1;
  position: absolute;

  width: 220px;
  height: 120px;

  padding-top: 20px;

  right: -70px;

  transform: scaleY(0);

  transform-origin: center top;
  transition: transform 0.4s 0.1s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.works--sub_nav {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-top: 3px solid rgba(255, 255, 255, 0.08);

  background-color: var(--color-3);
}

.header_action-wrapper {
  display: flex;

  gap: 40px;
}

.header_nav--item:hover .works--sub_nav-overlay {
  z-index: 9999;

  transform: scaleY(1);
}

.works--sub_item a:hover {
  text-decoration: underline;
}

.works--sub_list {
  display: flex;
  flex-direction: column;
  gap: 10px;

  font-family: var(--font-famili__public);
}

.works--sub_list a {
  font-size: var(--base-font-size-nav);
}

.works--sub_item {
  font-family: var(--font-famili__public);
}

@media only screen and (min-width: 900px) {
  .header {
    height: 70px;

    top: 24px;

    border-bottom: none;
  }

  .header_navigation {
    display: block;

    display: flex;
    flex-direction: row;
    justify-content: end;
    flex-shrink: 1;
  }
}

@media only screen and (max-width: 899.98px) {
  .header {
    height: 65px;
  }
  .header_content {
    padding: 0 24px;
  }

  .header_navigation {
    transform: scaleY(0);
  }

  .is-visible {
    z-index: -1;

    width: 100%;

    position: absolute;

    top: 66px;
    left: 0;

    background-color: var(--color-3);
    border-top: 1px solid rgba(255, 255, 255, 0.03);
    color: var(--c-white);

    transform: scaleY(1);
  }

  .header_list {
    padding: 30px;

    flex-direction: column;
    align-items: start;
  }

  .works--sub_nav-overlay {
    padding-top: 0;
    top: -50px;
    left: 80px;

    background-color: rgba(255, 255, 255, 0.05);

    border-top: none;
    border-left: 3px solid rgba(255, 255, 255, 0.08);

    transform: scaleX(0);
    transform-origin: left top;
  }

  .works--sub_nav-overlay:hover {
    transform: scaleX(1);
  }

  .sub--menu__works {
    position: relative;
  }

  .sub--menu__works::after {
    position: absolute;

    content: '';

    top: 8px;
    right: -20px;

    background: url('./../public/icons/triangle-arrow.png') no-repeat;

    background-size: cover;

    width: 8px;
    height: 8px;

    transform: rotate(30deg);

    animation: 2.5s linear 1s infinite alternate playArrow;
  }

  @keyframes playArrow {
    0% {
      right: -20px;
      opacity: 0.8;
    }
    50% {
      right: -25px;
      opacity: 0.5;
    }

    100% {
      right: -20px;
      opacity: 0.8;
    }
  }
}
