#intro--section {
    height           : 100vh;

    background-image : url(/img/intro/foto.JPG);
    background-size  : cover;
}

.intro--wrapper {
    height           : 100%;

    display          : flex;
    justify-content  : space-between;
}

.intro--text_content {
padding-top     : calc(20px + 4vh);

width           : 100vw;
height          : 100vh;

display         : flex;
flex-grow       : 1;
flex-direction  : column;
justify-content : center;
align-items     : center;
}

.intro--title_label {
    margin-bottom: 20px;
    text-transform: uppercase;

    font-family: var(--font-famili__public);
    letter-spacing: 0.1em;
    color: var(--color-1);

    font-size: 14px;
    line-height: var(--kick-line-height);
    font-weight: 600;
}

.intro--title {
    padding: 0 16px;
    margin-bottom: 10px;

    font-size: var(--h1-mobile);
    font-weight: 400;

    line-height: 1.045;
    letter-spacing: -0.025em;

    color: var(--c-white);

    text-align: center;
}

.intro--text__quality {
    font-size: var(--quality-text);
}

.intro--subb--text_title {
    margin-bottom: 50px;

    font-size: var(--subb-title__text);
}

.intro--background_image { 
    display      : none;
}

.intro--foto {
    width: 100%;
    height: 100%;
}

.intro--button_box { 
    width: clamp(300px, 85% , 400px);

    display      : flex;
    align-self: center;
    flex-wrap: wrap;
    gap: 20px 17px;
}

.intro--b-1 {
    background-color: var(--c-white);
    border-color:var(--c-white) ;
    color: var(--black);
}

.intro--b-2 {
    color: var(--c-white);
    border: 2px solid var(--c-white);
}

.intro--b-1,
.intro--b-2 {
    font-family: var(--font-famili__public);
    font-weight: 500;
    font-size: 12px;
}

.intro--b-1,
.intro--b-2 {
    width: 100%;
    height: 52px;
}

@media only screen and (min-width: 520.98px) { 
    #intro--section { 
        background-image : url(/img/intro/my-bgOptim.jpg);
        background-repeat: no-repeat;
    }
}

@media only screen and (min-width: 1200px) {

    #intro--section {
        height: 100vh;

        background-image: none;
    }

    .intro--text_content {
        width           : auto;
        height          : auto;


        display         : flex;
        flex-grow       : 0;
        flex-direction  : column;
        justify-content : end;
        align-items     : start;


        padding-top     : 0px;
        padding-bottom  : calc(50px + 2.8vw);

        background-image: none;
    }

    .intro--title { 
        padding:  0;
        font-size: var(--h1-font-size);
        color: inherit;
        text-align: left;
    }

    .intro--title_label {
        font-size: 18px;
    }

    .intro--subb--text_title {
        margin-bottom: 120px;
        
        line-height: 1;
        font-size: 15px;
    }

    
    .intro--background_image {
        display    : block;

        z-index    : -1;
    
        position   : absolute;
        right      : 0;
    
        width      : 50vw;
        height     : 100vh;
    }
    
    .intro--button_box { 
        width: 100%;

        align-self: center;
        flex-wrap: wrap;
        row-gap: 20px;

    }

    .intro--b-1,
    .intro--b-2 {
        width: 100%;
        border-color: hsla(96, 10%, 10%, 1);
    }

    .intro--b-1 {
        color: var(--c-white);
        background-color: var(--color-black);
    }

    .intro--b-2 {
        color: inherit;
    }
}

@media only screen and (min-width: 1280px) {

    .intro--button_box { 
        width:100%;

        flex-wrap: nowrap;
        align-self: stretch;
    }

    .intro--b-1,
    .intro--b-2 {
        width: 219px;
    }
    
    
}