@media only screen and (min-width: 900.98px) { 
    .header__menu-toggle {
        display     : none;
    }
}

/*  M O B I L E  */ 

.header_modal--navigation {
    z-index     : -1;

    width       : 100%;

    position    : absolute;

    top         : 80px;
    

    background-color: var(--color-3);
    border-top   : 1px solid rgba(255, 255, 255, 0.03);
    color: var(--c-white);


    transform: scaleY(0);
}
.fix--mobile_nav {
    position: fixed;
}

@keyframes scaleEfect {
    from {
        transform: scaleY(0);
    }
    to {
        transform: scaleY(1);
    }
  }

.header_modal--navigation.is-visible {
    z-index: 9996;
    
    transform: scaleY(1);
    transform-origin: center top;
    transition: transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.header_modal--navigation.is-visible .fix--mobile_nav {
    animation-name: scaleEfect;
}

.modal_list {
    padding: 50px 32px;

    display: flex;
    flex-direction: column;
    row-gap: 20px;

    width: 90px;

    transform: scaleY(0);

    transform-origin: center top;
    transition: transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.header_modal--navigation.is-visible .modal_list {
    transform: scaleY(1);

    transition: linear;
    transition-duration: 0.3s;
    transition-delay: 0.2s;
}

.modal_nav_link {
    font-family: var(--font-famili__public);
    font-size: 24px;
}


.ham {
    cursor: pointer;

    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .hamRotate.active {
    transform: rotate(45deg);
  }

  .hamRotate180.active {
    transform: rotate(180deg);
  }

  .line {
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: var(--color-white);
    stroke-width:3;
    stroke-linecap:round;

  }

  .ham4 .top {
    stroke-dasharray: 40 121;
  }
  .ham4 .bottom {
    stroke-dasharray: 40 121;
  }
  .ham4.active .top {
    stroke-dashoffset: -68px;
  }
  .ham4.active .bottom {
    stroke-dashoffset: -68px;
  }


@media only screen and (min-width: 900.98px) { 
    .ham4 {
        display: none;
}
}