.portfolio--box {
  font-family: var(--font-famili__public);

  box-shadow: var(--shadowBefore);

  background-color: var(--color-gray-7);
}

.portfolio--list {
  display: flex;
  gap: 50px;
}

.portfolio--item {
  overflow: hidden;
  display: flex;

  max-height: 350px;
}

/*  I T E M  S T Y L E  */

.portfolio--item_previewScreen {
  width: 560px;
}

.portfolio--item_previewScreen img {
  max-width: 960px;
  max-height: 510px;

  width: 100%;
  height: 100%;

  object-fit: cover;

  object-position: top center;
}

.portfolio--item_content {
  overflow: hidden;
  padding: 20px;
  display: flex;
  flex-direction: column;

  max-width: 570px;
  max-height: 440px;
  background-color: var(--color-gray-7);

  flex: 1;
}

.portfolio--item_data {
  margin-bottom: 8px;

  font-size: var(--base-font-size-nav);
  font-weight: 600;
  color: var(--color-1);
}

.portfolio--item_title {
  cursor: pointer;
  position: relative;

  margin-bottom: 18px;

  font-size: var(--h4-font-size);
  letter-spacing: 0.04em;

  transition: all 0.2s linear;
}

.portfolio--item_title::after {
  position: absolute;

  content: '';

  background: url(./../public/icons/link.svg);
  background-size: contain;

  top: 10px;

  width: 10px;
  height: 10px;
}

.portfolio--item_title:hover {
  color: var(--color-1);

  text-decoration: underline;
}

.portfolio--item_about {
  overflow-y: auto;
  margin-block: 10px 30px;

  display: flex;
  flex-direction: column;

  font-size: 0.9em;
  font-weight: 300;

  flex: 1;
}

.portfolio--item_icons_list {
  overflow-x: auto;

  display: flex;

  gap: 15px;
}

.portfolio--item_icons_list,
.portfolio--item_about {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.portfolio--item_icons_list::-webkit-scrollbar,
.portfolio--item_about::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.portfolio--item_link {
  position: relative;

  min-width: 39.5px;
  min-height: 39.5px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.4s ease-in;
}

.portfolio--item_link::before {
  content: '';

  position: absolute;

  top: 0;
  left: 0;

  width: 38px;
  height: 38px;

  border: 1px solid var(--c-gray);
  border-radius: 50px;

  box-shadow: var(--box-shadow-inset-2);

  transition: all 0.3s ease-in;
}

.portfolio--item_link:hover img {
  transform: scale(1.1);
  transition: all 0.6s ease-in;
}

.portfolio--item_link:hover::before {
  box-shadow: var(--box-shadow-inset-2-hover);
  transform: rotate(-35deg);

  transition: all 0.4s ease-in;
}

.portfolio--item_skill {
  min-height: auto;
}

.portfolio--modal {
  display: block;

  z-index: 99991;
  position: fixed;

  top: 0;
  bottom: 0;

  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.6);
}

.portfolio--overlay {
  margin-top: 60px;
  height: 100vh;

  display: flex;
  justify-content: center;
}

.image_scroll_box {
  overflow-y: scroll;

  width: 70vw;
  height: 90vh;
}

.portfolio--overlay_image {
  width: 100%;

  object-fit: cover;
  object-position: top;

  animation: animImage 0.3s linear;

  transform-origin: center top;
  transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.image_scroll_box::-webkit-scrollbar {
  width: 0;
}

@keyframes animImage {
  0% {
    transform: scale(0.4);
    opacity: 0.3;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes markUpText {
  0% {
    opacity: 0;
    visibility: hidden;
  }

  25% {
    opacity: 1;
    visibility: visible;
  }

  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.scroll_animate {
  opacity: 0;
  visibility: hidden;

  z-index: 9999;
  position: absolute;

  left: 50%;
  bottom: 100px;

  transform: translate(-50%, -50%);

  padding: 15px 20px;

  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: var(--box-shadow-6);
  border-radius: 10%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;

  font-family: var(--font-famili__public);
  font-size: 14px;
  color: var(--c-black);
  letter-spacing: 0.2em;

  animation-name: markUpText;
  animation-duration: 4s;
  animation-delay: 0.3s;
  animation-iteration-count: 1;
}

.close_modal {
  position: relative;

  z-index: 99998;

  position: fixed;

  top: 20px;
  right: 90px;

  width: 34px;
  height: 34px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.6);

  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 25px;
}

.close_modal:hover,
.close_modal:active {
  border-color: rgba(0, 0, 0, 1);
  background-color: rgba(0, 0, 0, 1);
}

.close_modal::before,
.close_modal::after {
  position: absolute;

  content: '';

  width: 40%;
  height: 1px;

  background-color: var(--c-gray);
}

.close_modal::before {
  transform: rotate(45deg);
}

.close_modal::after {
  transform: rotate(-45deg);
}

.portfolio--modal.hidden {
  display: none;
}

/* SWIPER  */

.swiper {
  overflow: visible !important;
}

.swiper-slide {
  display: flex !important;
}

.swipe--button {
  position: absolute;

  top: -90px;
  right: 10px;

  width: 110px;
  height: 44px;
}

.swipe--button .swiper-button-prev::after,
.swipe--button .swiper-button-next::after {
  font-size: 22px;

  color: var(--c-white);
}

.swipe--button .swiper-button-prev,
.swipe--button .swiper-button-next {
  padding: 3px 10px;
  border-radius: 5px;
  background-color: var(--color-gray-16);
  box-shadow: var(--box-shadow-4);
}

.swipe--button .swiper-button-prev {
  left: 0px;
}

.swipe--button .swiper-button-next {
  right: 0;
}

.swiper-button-prev.swiper-button-disabled {
  box-shadow: none;
}

/* MEDIA */

@media screen and (max-width: 1119.98px) {
  .portfolio--item_content {
    height: 390px;
  }

  .portfolio--item {
    flex-wrap: wrap;

    overflow: hidden;

    max-height: 950px;
    height: 100%;
  }

  .portfolio--item_previewScreen {
    width: 100%;

    background: var(--color-gray-7);
  }
}

@media screen and (max-width: 899.98px) {
  .portfolio--overlay {
    margin-top: 120px;
  }

  .portfolio--item_previewScreen img {
    object-fit: cover;
  }

  .close_modal {
    top: 70px;
    right: 50px;

    width: 28px;
    height: 28px;
  }
}

@media screen and (max-width: 767.98px) {
  .portfolio--item {
    max-height: 850px;
    height: 100%;
  }
}

@media screen and (max-width: 599.98px) {
  .portfolio--overlay {
    margin-top: 30px;
  }
  .image_scroll_box {
    width: 85dvw;
    height: 90dvh;
  }

  .portfolio--item_content {
    padding: 20px 15px;
  }

  .portfolio--item_previewScreen {
    max-height: 220px;
  }

  .close_modal {
    display: none;
  }

  .portfolio--item_icons_list {
    gap: 12px;
  }

  .swipe--button {
    width: 75px;
    top: -60px;
  }

  .swipe--button .swiper-button-prev::after,
  .swipe--button .swiper-button-next::after {
    font-size: 10px;

    color: var(--c-white);
  }

  .swipe--button .swiper-button-prev,
  .swipe--button .swiper-button-next {
    padding: 0px 1.5px;
    height: 30px;
  }
}
