#portfolio--section {

}

.portfolio--list {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.portfolio--item {
    display: flex;

    box-shadow: var(--shadowBefore);
}

/*  I T E M  S T Y L E  */

.portfolio--item_content {
    padding: 30px 60px;
    
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    

    background-color: var(--color-gray-7);
}

.portfolio--item_previewScreen {
    border-radius: 5px;
    object-position: 50% 0;
}

.portfolio--item_previewScreen img {
    max-width: 500px;
    
}

.portfolio--item_data {
    margin-bottom: 8px;

    font-family: var(--font-famili__public);
    font-size: var(--base-font-size-nav);
    font-weight: 600;
    color: var(--color-1);
}

.portfolio--item_title {
    cursor: pointer;
    position: relative;

    margin-bottom: 18px;
    
    font-family: var(--font-famili__public);
    font-size: var(--h4-font-size);
    letter-spacing: 0.04em;

    transition: all .2s linear;
}

.portfolio--item_title::after {
    position: absolute;

    content: '';

    background: url(./../public/icons/link.svg);
    background-size: contain;

    top: 10px;

    width: 12px;
    height: 12px;
}

.portfolio--item_title:hover {
    color: var(--color-1);

    text-decoration: underline;
}

.portfolio--item_about {
  margin-bottom: 30px;

  max-width: 570px;

  font-family: var(--font-famili__public);
  font-size: 1.1em;
  font-weight: 300;

  flex-grow: 1;
}

.portfolio--item_icons_list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.portfolio--item_link {
    position: relative;

    width: 38px;
    height: 38px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all .4s ease-in;
}

.portfolio--item_link::before {
    content: '';

    position: absolute;

    top: 0;
    left: 0;

    width: 38px;
    height: 38px;

    border: 1px solid var(--c-gray);
    border-radius: 50px;

    box-shadow: var(--box-shadow-inset-2);

    transition: all .3s ease-in;
}

.portfolio--item_link:hover img {
    transform: scale(1.1);
    transition: all .6s ease-in;
}

.portfolio--item_link:hover::before {
    box-shadow: var(--box-shadow-inset-2-hover);
    transform: rotate(-35deg); 

    transition: all .4s ease-in;
}

.portfolio--item_skill {
    min-height: auto;
}

.portfolio--modal {
    display: block;

    z-index: 99991;
    position: fixed;

    top: 0;
    bottom: 0;

    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.6);
}

.portfolio--overlay {
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-top: 30px;
}

.image_scroll_box {
    overflow-y: scroll;
    
    height: 75vh;
}

.portfolio--overlay_image {
    width: 530px;
    object-fit: cover;

    animation: animImage .3s linear;

    transform-origin: center top;
    transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.image_scroll_box::-webkit-scrollbar {
    width: 0;
}

@keyframes animImage {
    0% {
        transform: scale(0.4);
        opacity: 0.3;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.close_modal {
    z-index: 99998;

    position: fixed;

    top: 90px;
    right: 200px;

    width: 34px;
    height: 34px;
   
}

.close_modal::before,
.close_modal::after {
    position: absolute;

    content: '';

    left: 0;
 
    width: 100%;
    height: 1px;
 
    background-color: var(--c-gray);
}

.close_modal::before {
    transform: rotate(45deg);
}

.close_modal::after {
    transform: rotate(-45deg);
}

.portfolio--modal.hidden { 
   display: none;
}


@media screen and (max-width:899.98px) {
    .portfolio--item { 
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .portfolio--item_content {
        margin-left: 0px;
    }

    .portfolio--item_previewScreen img {
        max-width: 100%;
        height: auto;
    }

    .close_modal {
   
        top: 88px;
        right: 34px;
    
        width: 24px;
        height: 24px;
       
    }
 }

@media screen and (max-width:599.98px) { 

    .image_scroll_box {
        width: 80vw;
        height: 58vh;
    }

    .portfolio--item_content {
        padding: 20px 25px; 
    }

    .portfolio--item_link { 
        width: 28px;
        height: 28px;
    }

    .portfolio--item_link img {
        width: 15px;
        height: 15px;
    }

    .portfolio--item_link::before  {
        width: 28px;
        height: 28px;
    }
 
    .close_modal { 
        right: 20px;
        top: 130px;
    }

}